{% extends "base.html.twig" %}

{% block title %}
    <div class="container mt-5 text-center">
        <h1 class="display-4 margin-bottom">Explore GitHub API</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="list-section1" href="#section1">🔍 Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="list-section2" href="#section2">👤 User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="list-section3" href="#section3">📦 Repositories</a>
                    </li>
                </ul>
            </nav>

            <div class="col-md-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="" id="section1">
                        <h2><a href="{{ path('issues_controller') }}" style="color: #1c2331;">Explore GitHub Issues</a>
                        </h2>
                        <p>Use the REST API to manage issues and pull requests.</p>
                    </div>

                    <div class="" id="section2">
                        <h2><a href="{{ path('users_controller') }}" style="color: #2b3649;">Search GitHub User</a></h2>
                        <p>Use the REST API to search for specific users on GitHub.</p>
                    </div>

                    <div class="" id="section3">
                        <h2><a href="{{ path('repositories_controller') }}" style="color: #34495e;">Search GitHub Repositories</a></h2>
                        <p>Use the REST API to search for specific repositories on GitHub.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#list-section1").click(function () {
                $("#section1").show();
                $("#section2, #section3").hide();
            });

            $("#list-section2").click(function () {
                $("#section2").show();
                $("#section1, #section3").hide();
            });

            $("#list-section3").click(function () {
                $("#section3").show();
                $("#section2, #section1").hide();
            });
        });
    </script>
{% endblock %}
