{% extends "base.html.twig" %}

{% block title %}
    <div class="container mt-5 text-center">
        <h1 class="display-4 margin-bottom">User</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <form class="ml-4 mr-4 p-3" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Enter commit to search..."><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="container">
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        <strong> Name: {{ user.name }}</strong>
                        <p> Url: {{ user.html_url }}</p>
                        <p> Repos url: {{ user.repos_url }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}